
    

<!-- Start page-top -->
<section class="page-top">
    <img loading="lazy" src="./site/assets/imgs/bg2.jpg" class="section-bg" alt="Services page background image">

    <div class="container">
        <div class="page-info">
            <h2 class="page-head">Services</h2>
            <ul class="breadcrumb-con">
                <li class="breadcrumb-m"><a href="/Home">Home</a></li>
                <li class="breadcrumb-m">/</li>
                <li class="breadcrumb-m">Services</li>
            </ul>
        </div>
    </div>
</section>
<!-- End page-top -->
<!-- Start Our Services Section  -->
<section class="main-padding position-relative">
    <div class="container">

        <h4 class="main-title wow mx-auto fadeInDown">
            Services
            <span class="line"></span>
        </h4>

        <p class="text text-center mb-5 wow fadeInRight">
            We deliver world-class quality and export services.
        </p>

        <div class="sercices_cards grid-3 mb-4">
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/c2e1684a2a1341308eab0595008d8c69.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Cultivation and Sourcing</h3>

                            <p class="desc">
                                At El Nile Herbs for Export, quality begins at the root. We cultivate our herbs in carefully selected Egyptian farms located in Fayoum and other fertile agricultural regions, ensuring naturally rich leaves full of aroma and flavor.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('1')"
                                >
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/5fe721efd2d441b09d7beeb7e1b4c957.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Drying and Processing</h3>

                            <p class="desc">
                                Drying is one of the most essential stages in herb production, as it determines the purity and overall quality of the final product. At El Nile Herbs for Export, we rely on a precise combination of natural and controlled industrial drying methods, following internationally approved standards to preserve the color, aroma, and essential oils of the herbs without loss.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('2')">
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/e3c1f78779974711b3a310ae3c1237ce.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Quality Control and Testing</h3>

                            <p class="desc">
                                At El Nile Herbs for Export, quality is a commitment&#x2014;not an option. Every production batch undergoes advanced laboratory testing to ensure the herbs are pure, clean, and fully compliant with European and international standards.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('3')">
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/8707cbe9c0524224ba02d4cdefce7024.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Packaging and Labeling</h3>

                            <p class="desc">
                                At El Nile Herbs for Export, we understand that professional packaging is essential to preserving the purity and quality of herbs until they reach the customer. That&#x2019;s why we use advanced packaging technologies designed to protect the product from external factors such as moisture and light, ensuring freshness, aroma, and natural color are maintained.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('4')">
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/5c90fa0c48bf4d9fa00651e16e941414.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Export and International Shipping</h3>

                            <p class="desc">
                                Exporting is one of the strongest pillars of El Nile Herbs for Export, supported by extensive logistical expertise that enables us to deliver our products worldwide with efficiency and reliability.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('5')">
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card mb-3 wow fadeInUp">
                        <div class="image">
                            <img loading="lazy"
                                 src="./Images/d6133f115e084d18b800dad458e689e9.png"
                                 alt="Services"
                                 class="service-img">
                        </div>

                        <div class="service-content">
                            <div class="small_icon"></div>

                            <h3 class="service-name">Wholesale</h3>

                            <p class="desc">
                                At El Nile Herbs for Export, we offer flexible wholesale supply solutions tailored for factories, retailers, and international brands around the world.
                            </p>

                            <div class="price fw-semibold" hidden>
                                <span class="c-black">Price:</span>
                                <span>
                                    0 SAR
                                </span>
                            </div>

                            <div class="buttons_con">
                                <a class="main-btn up" 
                                data-ng-click="RouteToPage('6')">
                                    More
                                    <i class="fa-solid fa-add" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
        </div>

    </div>
</section>
<!-- End Our Services Section  -->

   